---
import Layout from '../layouts/Layout.astro';
import Buildings from '../components/Buildings.jsx';
import Devices from '../components/Devices.jsx';
import Houses from '../components/Houses.jsx';
import Readings from '../components/Readings.jsx';
import Users from '../components/Users.jsx';
---

<Layout>
  <h1>Welcome to Geo Frontend App</h1>
  <Buildings client:load />
  <Houses client:load />
  <Devices client:load />
  <Users client:load />
</Layout>
