---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition duration-300 ease-in-out">
	<a href={href} class="text-gray-900 hover:text-blue-500">
		<h2 class="text-xl font-bold mb-2">
			{title}
			<span class="text-gray-500">&rarr;</span>
		</h2>
		<p class="text-gray-700">
			{body}
		</p>
	</a>
</li>
